<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Formulario Aduana CN22</title>

		<style>
			body {
				font-family: Arial, sans-serif;
				margin: 0;
				padding: 0;
			}

			.container {
				width: 74mm;
				height: 105mm;
				margin: 20px auto auto;
				border: 1px solid #000;
				box-sizing: border-box;
				font-size: 10px;
			}
			.p {
				margin: 0;
				padding: 0;
			}
			.p-bold {
				font-weight: bold;
			}
			.p-code {
				font-size: 1.5em;
			}
			.areacode {
				padding: 0.2em 0;
				text-align: center;
				border-bottom: 1px solid #000;
			}
			.padding-all-025 {
				padding: 0.25em;
			}

			.headerform__title {
				font-size: 12px;
				font-weight: 800;
				text-transform: uppercase;
				line-height: 12px;
			}
			.inline-block {
				display: inline-block;
			}
			.headerform__title {
				width: 80px;

			}

			.headerform__title-span::after {
				content: "|";
				position: absolute;
				margin: -17px 0 0 20px;
				color: #000;
				font-size: 10px;
				font-weight: 400;
			}
			.headerform__description {
				width: 80px;

				margin-left: 10px;
			}
			.headerform__number {
				margin-left: 20px;
				font-size: 2.5em;
				font-weight: 800;
				text-transform: uppercase;
			}
			.operador {
				border-top: 1px solid #000;
			}
			.operador-span {
				width: 60%;
				height: 40px;
			}

			.operador-span::after {
				content: "|";
				position: absolute;
				margin: -4px 0 0 85px;
				color: #000;
				font-size: 10px;
				font-weight: 400;
			}

			.operador__instructions {
				width: 30%;
				height: 40px;
				margin-left: 188px;
				margin-top: -40px;
			}
			.p-instructions {
				font-size: 12px;
				letter-spacing: 1px;
			}
			table {
				width: 100%;
				border-collapse: collapse;


			}
			.table__options {
				text-align: left;
				border-top: 1px solid #000;
				border-bottom: 1px solid #000;
			}
			.table__td-elections {
				width: 15px;
				height: 15px;
				border-right: 1px solid #000;
				border-bottom: 1px solid #000;
				padding-left: 2px;
			}
			.table__td-elections-border-left {
				border-left: 1px solid #000;
			}
			/* Table descriptions */

			.table__th {
				text-align: left;
				border-left: 1px solid black;
				border-bottom: 1px solid #000;
				font-size: 10px;
				/* font-weight: 600; */
				/* vertical-align: top;
				letter-spacing: 0.1px; */

			}

			.table__th-borderleft-none {
				border-left: none;
			}

			.table__td {
				height: 50px;
				border-left: 1px solid black;
				border-bottom: 1px solid black;
				font-size: 8px;

			}

			.table__td-height {
				height: 35px;
				vertical-align: top;
				font-weight: 600;
			}

			.table__td-borderleft-none {
				border-left: none;
			}
		</style>

	</head>

	<body>
		<div class="container">
			<div
				class="areacode">

                <img src="{{ app.request.schemeAndHttpHost ~ asset(s10code.barcodeImage) }}" alt="Código de Barras S10">
				<p class="p p-bold">{{ s10code.getFormattedNumbercode }}</p>

			</div>
			<div class="padding-all-025">
				<div class="inline-block headerform__title">
					<span class="headerform__title-span">declaracion de aduana</span>
				</div>
				<div class="headerform__description inline-block">
					<span>Puede ser abierto de oficio</span>
				</div>
				<div class="headerform__number inline-block">
					<span>cn 22</span>
				</div>
			</div>
			<div class="operador padding-all-025">

				<p class="p operador-span ">Operador designado</p>

				<div class="operador__instructions">
					<p class="p p-bold p-instructions">¡Importante!</p>
					<p class="p">Ver instrucciones al dorso</p>

				</div>
			</div>
			<table
				class="table__options">
				{# <thead>
									<tr>
										<th>Producto</th>
										<th>Cant.</th>
										<th>Unidad</th>
										<th>Valor unitario</th>
										<th>Valor total</th>
									</tr>
								</thead> #}
				<tbody>
					<tr>
						<td class="table__td-elections"></td>
						<td>Regalo</td>
						<td class="table__td-elections table__td-elections-border-left"></td>
						<td>Muestra comercial</td>

					</tr>
					<tr>
						<td class="table__td-elections"></td>
						<td>Documentos</td>
						<td class="table__td-elections table__td-elections-border-left"></td>
						<td>Mercadería devuelta</td>
					</tr>
					<tr>
						<td class="table__td-elections"></td>
						<td>Ventas de mercaderías</td>
						<td class="table__td-elections table__td-elections-border-left"></td>
						<td>Otro (Sírvase especificar)</td>
					</tr>
				</tbody>
			</table>
			<table>
				<thead>
					<tr>
						<th class="table__th table__th-borderleft-none">Cantidad y descripción detallada del contenido (1)
						</th>
						<th class="table__th">Peso neto (2)</th>
						<th class="table__th">Valor y moneda (3)</th>
						<th class="table__th">Número tarifario SA* (4)</th>
						<th class="table__th">País de origen* (5)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="table__td table__td-borderleft-none"></td>
						<td class="table__td"></td>
						<td class="table__td"></td>
						<td class="table__td"></td>
						<td class="table__td"></td>
					</tr>
					<tr>
						<td class="table__td table__td-borderleft-none table__td-height" colspan="2">Peso total (en kg) (6)
						</td>
						<td class="table__td table__td-height">Valor total (7)</td>
						<td class="table__td table__td-height"></td>
						<td class="table__td table__td-height"></td>
					</tr>
				</tbody>
			</table>
			<div class="descriptiosform">
				<p class="p p-bold padding-all-025">
					El infrascrito, cuyo nombre y dirección fi guran en el envío, certifi ca
					que la información dada en la presente declaración es exacta y que
					este envío no contiene ningún objeto peligroso o prohibido por la
					legislación o por la reglamentación postal o aduanera
					Fecha y fi rma del expedidor (8)
				</p>
			</div>
		</div>
	</body>
</html>
