<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Formulario Aduana CN31</title>

	</head>

	<body
		style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

		{# Header #}
		<div>
			<p style="display: inline-block; padding: 0; margin:0 0 2px 0;">
				Identificador del despacho</p>
			<h1 style="display: inline-block; font-size:18px; padding: 0; margin:0 0 0 150px;">
				HOJA DE AVISO</h1>
			<h1 style="display: inline-block; font-size:18px; padding: 0; margin:0 0 0 260px;">
				CN 31</h1>
		</div>
		{# Bar Code #}
		<div style="vertical-align:top;">
			<img src="{{ app.request.schemeAndHttpHost ~ asset(s10code.barcodeImage) }}" alt="Logo EMS" style="width: 7.5cm; height: 8mm; ">
		</div>
		{#bulletin #}
		<div style="padding: 0; margin:0;">
			<table style="padding: 0; margin:-15px 0 0 0 ;">
				<tr style="padding: 0; margin:0;">
					<td style="width: 67.9%;"></td>
					<td style="width: 20px; height:20px; border: 1px #000 solid; padding: 0; margin:0; "></td>
					<td style="padding-left: 5px; vertical-align:middle;">Boletín de prueba CN 44 adjunto</td>
				</tr>
			</table>
		</div>
		{# Block 1 #}
		<table style="border: 1px solid #000; width:100%; border-collapse: collapse;">
			<tr>
				<td style="padding-left: 5px; vertical-align:middle; border-right:1px solid #000;" rowspan="2">Operadores
				</td>
				<td style="padding-left: 5px; vertical-align:middle; border-right:1px solid #000;">Expedidor</td>
				<td style="padding-left: 5px; vertical-align:middle; border-right:1px solid #000;" colspan="5"></td>
				<td style="padding-left: 5px; vertical-align:top;" rowspan="2">Número anterior</td>
			</tr>
			<tr>
				<td style="border-top: 1px solid #000; border-right:1px solid #000; vertical-align:middle; padding-left: 5px;">
					De destino</td>
				<td style="border-top: 1px solid #000;" colspan="5"></td>
			</tr>
			<tr>
				<td style="border-top: 1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px;" colspan="2">OC de origen y código CTCI</td>
				<td style="border-top: 1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px;">OC
									de destino y código CTCI</td>
				<td style="border-top: 1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; padding-right:25px;">
					Categoria</td>
				<td style="border-top: 1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; padding-right:15px;">
					Subclase</td>
				<td style="border-top: 1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; padding-right:15px;">
					Año</td>
				<td style="border-top: 1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; ">
					Despacho n°</td>
				<td style="border-top: 1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px;" rowspan="2">Fecha</td>
			</tr>
			<tr>
				<td style="border-top:1px solid #000; border-right:1px solid #000;" colspan="2"></td>
				<td style="height: 20px; border-top:1px solid #000; border-right:1px solid #000;"></td>
				<td style="height: 20px; border-top:1px solid #000; border-right:1px solid #000;"></td>
				<td style="height: 20px; border-top:1px solid #000; border-right:1px solid #000;"></td>
				<td style="height: 20px; border-top:1px solid #000; border-right:1px solid #000;"></td>
				<td style="height: 20px; border-top:1px solid #000; border-right:1px solid #000;"></td>
			</tr>
			<tr>
				<td style="height:35px; border-top:1px solid #000; vertical-align:top; font-size:13px; padding-left:5px;" colspan="8">Transporte</td>
			</tr>
		</table>
		{# Cantidad de envases #}
		<p style="font-weight: 800; padding:0 0 0 5px; margin:30px 0 0 0; font-size:16px; ">1. Cantidad de envases</p>
		<table style="border: 1px solid #000; width:100%; border-collapse: collapse;">
			<tr>
				<td style="border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">Etiquetas
									de envase</td>
				<td style="border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">Etiquetas
					<br>
					rojas
				</td>
				<td style="border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Etiquetas<br>
					blancas/azules</td>
				<td style="border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle; padding-right:35px;">
					Tipos de envases</td>
				<td style="border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle; padding-right:35px;">
					Sacas</td>
				<td style="border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle; padding-right:35px;">
					Bandejas</td>
				<td style="border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle; padding-right:35px;">
					Otros</td>
				<td style=" font-size:13px; padding-left:5px; vertical-align:middle; padding-right:35px;">Total</td>
			</tr>
			<tr>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Prioritario/no prioritario<br>– LC/AO</td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Envases<br>en el despacho</td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>

			</tr>
			<tr>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Sacas M</td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Envases que deben<br>
					devolverse</td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>

			</tr>
			<tr>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Envases vacíos</td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:top;" colspan="2">Etiquetas verdes</td>

				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Envases que deben<br>
					devolverse</td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-top:1px solid #000; border-right: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>

			</tr>

		</table>
		{# 2. Gastos de tránsito y gastos terminales #}
		<p style="font-weight: 800; padding:0 0 0 5px; margin:30px 0 0 0; font-size:16px; ">2. Gastos de tránsito y gastos
					terminales</p>
		<table style="border: 1px solid #000; width:100%; border-collapse: collapse;">
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle; width:50%" colspan="3">Correo sujeto al pago de gastos terminales, totales por formato</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;" colspan="3">Totales para los demás tipos de correo</td>
			</tr>
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Formato</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; padding-right:55px; vertical-align:middle;">
					Cantidad</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; padding-right:55px; vertical-align:middle;">
					Peso</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Tipo de correo</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; padding-right:55px; vertical-align:middle;">
					Cantidad</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; padding-right:55px; vertical-align:middle;">
					Peso</td>

			</tr>
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle; height:30px;">
					P o S</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Sacas M hasta 5 kg</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>

			</tr>
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					G</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Sacas M de más<br>de 5 kg</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>

			</tr>
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					E</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Despachos de<br>envases vacios</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>

			</tr>
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Correo mixto</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">
					Correos exento del<br>pago de gastos<br>terminales</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>

			</tr>
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle; height:30px;">
					Peso total del despacho</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;" colspan="5"></td>
			</tr>
		</table>
		{# 3. Envíos identifi cados #}
		<p style="font-weight: 800; padding:0 0 0 5px; margin:30px 0 0 0; font-size:16px; ">3. Envíos identifi cados
					terminales</p>
		<table style="border: 1px solid #000; width:100%; border-collapse: collapse;">
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:10px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:10px; padding-left:5px; vertical-align:middle;">Cantidad de envases que contienen</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:10px; padding-left:5px; vertical-align:middle;">Cantidad de paquetes interiores que contienen</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:10px; padding-left:5px; vertical-align:middle;">Cantidad de listas especiales</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:10px; padding-left:5px; vertical-align:middle;">Cantidad de envíos<br> sujetos al pago de gastos terminales suplementarios</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:10px; padding-left:5px; vertical-align:middle; ">Cantidad de envíos<br> exentos del pago de gastos terminales suplementarios</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:12px; padding:0 0 0 5px; vertical-align:middle;">Cantidad total de envíos</td>
			</tr>
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">Envíos certificados</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
			</tr>
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">Envíos con valor declarado</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
			</tr>
			<tr>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;">Envíos con seguimiento</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:30px; padding-left:5px; vertical-align:middle; text-align:center;">---</td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
				<td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size:13px; padding-left:5px; vertical-align:middle;"></td>
			</tr>
		</table>
	</body>

</html>
