<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Aduana CN38</title>

</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

    <div style=" display:inline-block;  margin: 0; padding: 0; height:500px; ">

        <table style="border-collapse: collapse; width:320px; border-left:1px solid #000; margin: 0; padding: 0; " >
            <tr>
                
                <td style="height: 35px;" colspan="4"> </td>
                
            </tr>
            <tr>
                <td style="padding-left: 5px; height:80px; vertical-align:top; border-bottom: 1px solid #000;" colspan="4" >De</td>
            </tr>
            <tr>
                <td style="padding-left: 5px;  width:60px; border-bottom:1px solid #000; ">Tipo de<br>desp.</td>
                <td style="padding-left: 2px; width:60px;  border-bottom:1px solid #000;  border-right:1px solid #000;"></td>
                <td style="padding-left: 5px; width:60px;  border-bottom:1px solid #000; ">N°<br>desp.</td>
                <td style="padding-left: 2px; width:60px;  border-bottom:1px solid #000; "></td>
            </tr>
            <tr>
                <td style="padding-left: 5px;   border-bottom:1px solid #000; height:35px;" >Fecha</td>
                <td style="padding-left: 5px;   border-bottom:1px solid #000;" colspan="3"></td>
            </tr>
            <tr>
                <td style="padding-left: 5px;  width:60px; border-bottom:2px solid #000; ">Tipo de<br>envase.</td>
                <td style="padding-left: 2px; width:60px;  border-bottom:2px solid #000;  border-right:1px solid #000;"></td>
                <td style="padding-left: 5px; width:60px;  border-bottom:2px solid #000; ">N°<br>envase.</td>
                <td style="padding-left: 2px; width:60px;  border-bottom:2px solid #000; "></td>
            </tr>
            <tr>
                <td style="padding-left: 5px;  width:60px; border-bottom:1px solid #000; height:45px; vertical-align:top;">Precinto</td>
                <td style="padding-left: 2px; width:60px;  border-bottom:1px solid #000;  border-right:1px solid #000;"></td>
                <td style="padding-left: 5px; width:60px;  border-bottom:1px solid #000; "></td>
                <td style="padding-left: 2px; width:60px;  border-bottom:1px solid #000; "></td>
            </tr>
            <tr>
                <td style="padding-left: 5px;  width:60px; border-bottom:1px solid #000; ">Subclase<br>envase</td>
                <td style="padding-left: 2px; width:60px;  border-bottom:1px solid #000;  border-right:1px solid #000;"></td>
                <td style="padding-left: 5px; width:60px;  border-bottom:1px solid #000; ">Cant.<br>envíos.</td>
                <td style="padding-left: 2px; width:60px;  border-bottom:1px solid #000; "></td>
            </tr>
            <tr>
                <td style="padding-left: 5px;  width:60px; border-bottom:1px solid #000; height:35px; ">Kg bruto</td>
                <td style="padding-left: 2px; width:60px;  border-bottom:1px solid #000;  border-right:1px solid #000;"></td>
                <td style="padding-left: 5px; width:60px;  border-bottom:1px solid #000; "></td>
                <td style="padding-left: 2px; width:60px;  border-bottom:1px solid #000; "></td>
            </tr>
            <tr>
                <td style="padding-left: 5px;  width:60px;  height:120px;" colspan="4"></td>
            </tr>
        </table>
    </div>

    <div style="display:inline-block; margin-left: -4px; padding: 0; height:500px;">


        <table style="border-collapse: collapse; width:400px; margin: 0; padding: 0; border-left:2px solid #000;" >
            <tr>
                
                <td>
                    <h1 style="font-size: 22px; margin: 0; padding-left: 5px; width:150px;">Por avión</h1>  
                </td>
                <td>
                    <h1 style="font-size: 22px; margin: 0; padding: 0; text-align:right ">CN 35</h1>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>Formato</td>

            </tr>
            <tr>
                <td style="border-bottom: 2px solid #000; border-top: 1px solid #000; height:30px;"></td>
                <td style="border-bottom: 2px solid #000; border-top: 1px solid #000; height:30px;"></td>
            </tr>
            <tr>
                <td style="padding-left: 5px; border-bottom: 2px solid #000; height:111px; vertical-align:top;" colspan="2">Para</td>
                
            </tr>
            <tr>
                <td style="padding-left: 5px;   vertical-align:top;" colspan="2">Identifiscador del envase</td>
                
            </tr>
            <tr>
                <td style="padding: 10px 0 25px 5px; border-bottom: 2px solid #000;  vertical-align:top;" colspan="2">
                    <img src="{{ app.request.schemeAndHttpHost ~ asset(s10code.barcodeImage) }}" alt="Logo EMS"
			style="width: 10cm; height: 20mm; ">
                </td>
                
            </tr>
            <tr>
                <td style="padding-left: 5px;   vertical-align:top; height:150px;" >Fecha de transporte</td>
                <td style="padding-left: 5px;   vertical-align:top; border-left:1px solid #000;" >Desembarque</td>
            </tr>
            
        </table>
    </div>
    
    </body>
</html>