<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Aduana CN38</title>

</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

    <table style="width:100%; border-collapse: collapse;">
        <tr>
            <td style="vertical-align: top; width:350px; line-height:18px">Operador designado de origen</td>
            <td style="vertical-align: top; font-weight:800; font-size:20px; width:380px; line-height:20px">FACTURA DE
                ENTREGA<br>Despachos-avión</td>
            <td style="vertical-align: top; font-weight:800; font-size:20px; text-align:end; line-height:18px">CN 38
            </td>
        </tr>
    </table>
    <table style="width:100%; border-collapse: collapse;">
        <tr>
            <td style="vertical-align: top; width:350px;">Oficina de origen de la factura</td>
            <td style="width: 200px;">Fecha</td>
            <td>N° de serie</td>
        </tr>
        <tr>
            <td style="vertical-align: middle; width:350px; height:40px;" colspan="3">Oficina de destino de la factura
            </td>
        </tr>

    </table>
    <div style="width: 100%;">
        <div
            style="display:inline-block; width: 20px; height:20px; border-top:1px solid #000; border-right:1px solid #000; border-left:1px solid #000; margin-left:407px">
        </div>
        <span style="padding-bottom: 2px;  ">Prioritario</span>
        <div
            style="display:inline-block; width: 20px; height:20px; border-top:1px solid #000; border-right:1px solid #000; border-left:1px solid #000; margin-left:157px">
        </div>
        <span>Por avión</span>
    </div>
    <table style="width:100%; border-collapse: collapse; border:1px solid #000; margin-top:-4px">
        <tr>
            <td style="border-right: 1px solid #000; width:400px; padding-left:5px;">Línea n°</td>
            <td style="padding-left:5px; border-right: 1px solid #000; width:250px;">Fecha de salida</td>
            <td style="padding-left:5px;">Hora</td>
        </tr>
        <tr>
            <td style="height: 20px;" colspan="3"></td>

        </tr>

    </table>

    <table style="width:100%; border-collapse: collapse;  border-right:1px solid #000; border-left:1px solid #000;">
        <tr>
            <td style="border-right: 1px solid #000; width:400px; padding-left:5px;">Aeropuerto de transbordo directo
            </td>
            <td style="padding-left:5px;">Aeropuerto de descarga</td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
            <td style="height: 20px;"></td>

        </tr>
        <tr>
            <td style="padding-left:5px; width:120px; border-top:1px solid #000;" colspan="2">En caso de utilización del
                contenedor</td>


        </tr>
    </table>
    <table
        style="width:100%; border-collapse: collapse;  border-bottom:1px solid #000; border-right:1px solid #000; border-left:1px solid #000; ">

        <tr>
            <td style="padding-left:5px; border-right: 1px solid #000; ">N° del contenedor</td>
            <td style="padding-left:5px; border-right: 1px solid #000; ">N° del precinto</td>
            <td style="padding-left:5px; border-right: 1px solid #000; ">N° del contenedor</td>
            <td style="padding-left:5px; ">N° del precinto</td>
        </tr>
        <tr>
            <td style="height: 25px; border-bottom: 1px solid #000;"></td>
            <td style="height: 25px; border-bottom: 1px solid #000;"></td>
            <td style="height: 25px; border-bottom: 1px solid #000;"></td>
            <td style="height: 25px; border-bottom: 1px solid #000;"></td>

        </tr>
        <tr>
            <td style="padding-left:5px; border-right: 1px solid #000;">N° del contenedor</td>
            <td style="padding-left:5px; border-right: 1px solid #000; ">N° del precinto</td>
            <td style="padding-left:5px; border-right: 1px solid #000; ">N° del contenedor</td>
            <td style="padding-left:5px; ">N° del precinto</td>
        </tr>
        <tr>
            <td style="height: 25px;"></td>
            <td style="height: 25px;"></td>
            <td style="height: 25px;"></td>
            <td style="height: 25px;"></td>

        </tr>

    </table>
    <p style="font-weight: 800; padding:0 0 0 5px; margin:18px 0 0 0; font-size:16px; ">Inscripción</p>
    <table style="border: 1px solid #000; width:100%; border-collapse: collapse;">
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; padding-left:5px;" rowspan="2">
                Despacho n°</td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; padding-left:5px;" rowspan="2">
                Oficina de origen</td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; padding-left:5px;" rowspan="2">
                Oficina de destino</td>
            <td style="border-right: 1px solid #000; padding:0 0 5px 5px; " colspan="3">Cantidad de</td>
            <td style="border-right: 1px solid #000; padding:0 0 5px 5px; " colspan="3">Peso bruto de los envases, etc.
            </td>
            <td style="border-bottom: 1px solid #000; padding-left:5px;" rowspan="2">Observaciones (incluida la cantidad
                de sacas M y/o de encomiendas fuera de envase)</td>

        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000;">envases envíos de corres-ponden-cia
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000;">envases CP y enco-miendas fuera de
                envase</td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; vertical-align:top;">envaces EMS
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; vertical-align:top;">Envíos de
                corres-pondencia</td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; vertical-align:top; ">CP</td>
            <td style=" border-bottom: 1px solid #000; vertical-align:top">EMS</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center;">1</td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; width:120px;">2
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; width:120px">3
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; width:60px;">4
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; width:60px;">5
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; width:60px; ">6
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; width:60px">7
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; width:70px">8
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; width:70px">9
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; width:90px">10
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td
                style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px; vertical-align:top; font-size:12px; text-align:start;">
                kg¹</td>
            <td
                style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px; vertical-align:top; font-size:12px; text-align:start;">
                kg¹</td>
            <td
                style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px; vertical-align:top; font-size:12px; text-align:start;">
                kg¹</td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
            <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; text-align:center; height:30px">
            </td>
        </tr>

    </table>
    <table style="width:100%; border-collapse: collapse;">
        <tr>
            <td style="padding-left: 5px;">Oficina de cambio expedidora<br>Firma</td>
            <td>El empleado del transportista/el empleado<br>del aeropuerto</td>
            <td>Oficina de cambio de destino<br>Fecha y Firma</td>
        </tr>
        
        <tr>
            <td></td>
            <td>Fecha y firma</td>
            <td></td>
        </tr>
        <tr>
            <td><div style="border-bottom: 1px solid #000; width:200px;  margin-top:40px;"></div></td>
            <td><div style="border-bottom: 1px solid #000; width:200px; margin-top:40px;"></div></td>
            <td><div style="border-bottom: 1px solid #000; width:200px; margin-top:40px;"></div></td>
        </tr>
    </table>

</body>

</html>